<div class="headercontainer">
    <div class="headertop">
        <div class="headerlabel">
        <img class="logoImage" src="/assets/images/V2X_Hub_WebBanner.png" alt="V2X-Hub Web Banner"/>
        </div>
    </div>
    <div class="headermiddle">
        <div class="currLoginDiv">
            <div class="userLabel"></div>
            <div class="permissionsLabel"></div>
            <button class="logoutBtn" onmousedown="SendLogoutCommand()" >Sign Out</button>
        </div>
    </div>    
    <div class="headerbottom">
       <div class="timelabel" id="timeDisplay"></div>
       <div class="versionlabel" id="versionDisplay">7.6.0</div>
    </div>
</div>

